/*
	Extras Styles
	==================================================================================================================

	Legend:
	------------------------------------------------------------------------------------------------------------------
	
	common
	herospace
	community tools
	extras
*/

/* common
* ----------------------------------------------------------------------------------------------------*/
#wrapper { 
	overflow: hidden;
}
.tile-left {
}	
.tile-right {
	overflow: hidden;
}
#content { 
	text-align: left;
	color: #6e6e6c;
	padding-bottom: 50px;
}
h3 {
	margin:0;
}

/* herospace
* ----------------------------------------------------------------------------------------------------*/
#herospace {
	position: relative;
	height: 294px;
	overflow: hidden;
}
#herospace h1 {
	position: absolute;
	top: 50px;
	right: 90px;
	z-index: 20;
}
#herospace h1 a {
	display: block;
	width: 308px;
	height: 160px;
	text-indent: -1000em;
}
#herospace h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	text-indent: -1000em;
	z-index: 20;
}

/* extras
* ----------------------------------------------------------------------------------------------------*/
#extras {
	padding: 40px 0 0 5px;
	width: 650px;
}
#extras a, #extras a:visited {
	color:#cc8f30;
}
#extras div {
	clear: left;
	margin: 0 0 20px 0;
	padding: 0 0 7px 0;
}
#extras h2 {
	height: 26px;
	font-size: 20px;
	color: #cc8f30;
	padding: 7px 0 0 7px;
	overflow: hidden;
}
#extras img, #extras a img {
	border: 1px solid #cc8f30;
}
#extras a:hover img {
	border: 1px solid #cc8f30;
}
#extras p {
	font-size: 14px;
	line-height: 15px;
	font-weight: bold;
	margin: 0 0 10px 25px;
	color:#666;
}
#extras ul {
	overflow: hidden;
}
#extras .wallpaper li {
	float: left;
	margin: 0 25px 10px 0;
}
#extras .wallpaper-sizes li {
	float: none;
	font-size: 14px;
	line-height: 15px;
	padding: 0 0 0 5px;
	margin: 0;
}
#extras .icons li {
	float: left;
	margin: 0 14px 10px 0;
}
#extras .wallpaper, #extras .icons, #extras .screensavers {
	padding: 0 0 0 28px;
}
#extras .screensavers li {
	float: left;
	margin: 0 25px 10px 0;
}
#extras .screensavers-options li {
	float: none;
	font-size: 14px;
	line-height: 15px;
	padding: 0 0 0 5px;
	margin: 0;
}
#extras .title img {
	border: none;
	margin:20px 0 0 30px;
}


/*
     FILE ARCHIVED ON 17:36:18 Jan 13, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:13:23 Jul 11, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 0.698
  exclusion.robots: 0.178
  exclusion.robots.policy: 0.166
  captures_list: 81.723
  PetaboxLoader3.datanode: 41.659 (4)
  LoadShardBlock: 65.834 (3)
  esindex: 0.011
  PetaboxLoader3.resolve: 51.379 (2)
  CDXLines.iter: 12.301 (3)
  load_resource: 39.195
*/