/*
 *  Bones - music page 
 *
 *  1. bones updates
 *
 */

/* -1- bones updates
 * ----------------------------------------------------------------------------------------------------*/
body.music #interior-content {
	background: transparent url(/web/20100113182611im_/http://www.fox.com/bones/images/content_bg.png) repeat-y center top;
	width: 815px;
	margin: -6px 0 0 53px;
}

body.music #interior-content-top {
	background: transparent url(/web/20100113182611im_/http://www.fox.com/bones/images/content_bg_top.png) no-repeat 11px top;
	width: 695px;
	color: #666;
	font: 1em Arial, Helvetica, sans-serif;
	line-height: 1.57em;
	padding: 60px 50px 0 70px;
}

body.music #interior-content h1 {
	background: transparent url(/web/20100113182611im_/http://www.fox.com/bones/images/music_title.gif) no-repeat;
	width: 272px;
	height: 24px;
	text-indent: -1000em;
	padding: 0;
	margin: -10px 0 20px 100px;
}

/*
     FILE ARCHIVED ON 18:26:11 Jan 13, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:13:24 Jul 11, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 14.249 (3)
  captures_list: 79.201
  exclusion.robots: 0.243
  PetaboxLoader3.resolve: 33.371
  exclusion.robots.policy: 0.226
  RedisCDXSource: 8.588
  esindex: 0.014
  PetaboxLoader3.datanode: 54.823 (4)
  load_resource: 50.908
  LoadShardBlock: 52.905 (3)
*/